<article class="post">
  {{!-- <div class="title"> --}}
    <h2 class="title">{{title}}</h2>
    <div class="post-text">
      {{post}}
    </div>

  {{!-- </div> --}}
  <div class="meta">
    {{vote_count}} {{format_plural "like" vote_count}} by
    <img class="user-image" src="/{{user.user_image}}">

    {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</div>
</article>